<tr>
	<td><%= human_bean.id %></td>
	<td><%= human_bean.last_name %></td>
	<td><%= human_bean.first_name %></td>
	<td><%= human_bean.patronymic %></td>
	<td><%= get_link_to_branch(human_bean.branch) %></td>
	<td><%= human_bean.post.title %></td>
	<td><%= get_link_to_head(human_bean.branch) %></td>
	<td><%= human_bean.is_head %></td>
	<td><%= link_to 'Изменить', edit_human_bean_path(human_bean) %>
</tr>