<body>
  <div class="list_title title_w_btm_mrg">
    Список работ с "<%= @start_time.day %>" <%= @start_time.strftime("%B %y") %> года по "<%= @end_time.day %>" <%= @end_time.strftime("%B %y") %> года
  </div>

  <div class="font-bold-table-container">
    <table class="no-border table_w_btm_mrg">
      <tr>
        <td>Запланировано работ:</td>
        <td><%= @current_tasks_uncompleted.count %></td>
        <td>Выполнено работ:</td>
        <td><%= @finished_tasks.count %></td>
        <td>Просрочено работ:</td>
        <td><%= @overdue_tasks.count %></td>
      </tr>
      <tr>
        <td>Запланировано часов:</td>
        <td><%= @total_labor_input_planned %></td>
        <td>Затрачено часов:</td>
        <td><%= @current_tasks_uncompleted.count %></td>
      </tr>
    </table>
  </div>

  <table class="table-condensed table_w_btm_mrg" id="tasks">
    <thead>
      <tr>
        <th rowspan="2"></th>
        <th rowspan="2">№</th>
        <th rowspan="2">Наименование работы</th>
        <th rowspan="2">Статус</th>
        <th rowspan="2">Приоритет</th>
        <th colspan="2">Тр/ем-ть</th>
        <th rowspan="2">Длит-ть</th>
        <th rowspan="2">Начало</th>
        <th rowspan="2">Окончание</th>
      </tr>
      <tr>
        <th>План</th>
        <th>Факт</th>
      </tr>
    </thead>
    <%= render partial: 'current_task', :collection => @current_tasks_uncompleted, :as => :current_task %>
  </table>

  <hr>

  <div class="list_title">Окно сообщений системы</div>

  <div>
    <%= button_to 'Справочник', application_catalogue_path %><b />
  </div>

</body>