<body>
  <div class="list_title title_w_btm_mrg">
    Список работ с "___" __________ года по "___" __________ года
  </div>

  <div>
    <table class="no-border">
      <tr>
        <td>Запланировано работ:</td>
        <td><%= @current_tasks.count %></td>
        <td>Выполнено работ:</td>
        <td><%= @current_tasks.count %></td>
        <td>Просрочено работ:</td>
        <td><%= @current_tasks.count %></td>
      </tr>
      <tr>
        <td>Запланировано часов:</td>
        <td><%= @current_tasks.count %></td>
        <td>Затрачено часов:</td>
        <td><%= @current_tasks.count %></td>
      </tr>
    </table>
  </div>

  <table class="table_w_btm_mrg" id="tasks">
    <thead>
      <tr>
        <th rowspan="2"></th>
        <th rowspan="2">№</th>
        <th rowspan="2">Наименование работы</th>
        <th rowspan="2">Статус</th>
        <th rowspan="2">Приоритет</th>
        <th colspan="2">Тр/ем-ть</th>
        <th rowspan="2">Длит-ть</th>
        <th rowspan="2">Начало</th>
        <th rowspan="2">Окончание</th>
      </tr>
      <tr>
        <th>План</th>
        <th>Факт</th>
      </tr>
    </thead>
    <%= render partial: 'current_task', :collection => @current_tasks, :as => :current_task %>
  </table>

  <div>
    <%= button_to 'Справочник', application_catalogue_path %><b />
  </div>

</body>