<tr>
	<td><%= structure_unit.id %></td>
	<td><%= structure_unit.name %></td>
	<td><%= structure_unit.structure_type %></td>
	<td><%= structure_unit.code %></td>
	<td><%= get_link_to(structure_unit.head) %></td>
	<td><%= structure_unit.parent ? structure_unit.parent.name : '' %></td>
	<td><%= link_to 'Изменить', edit_structure_unit_path(structure_unit) %>
</tr>