<tr>
	<td><%= plan.id %></td>
	<td><%= plan.title %></td>
	<td><%= plan.workflow.short_title %></td>
	<td><%= plan.project.code %></td>
	<td><%= plan.state %></td>
	<td><%= get_link_to_human_bean(plan.created_by) %></td>
	<td><%= get_link_to_structure_unit(plan.created_by.branch) %></td>
	<td><%= link_to 'Изменить', edit_plan_path(plan) %>
</tr>